const runtimeVariables = (() => ({
  VITE_VERSION: '(packageDict.version)',
  VITE_API_BASE_URL: ('${VITE_API_BASE_URL}' || 'http://localhost:8080/'),
  VITE_BOTHUB_NLP_BASE_URL: ('${VITE_BOTHUB_NLP_BASE_URL}' || 'http://localhost:2657/'),
  VITE_BOTHUB_WEBAPP_BASE_URL: ('${VITE_BOTHUB_WEBAPP_BASE_URL}' || 'http://localhost:8080/'),
  VITE_VERSION_ENABLED: ('${VITE_VERSION_ENABLED}' || true),
  VITE_BOTHUB_WEBAPP_USE_SENTRY: ('${VITE_BOTHUB_WEBAPP_USE_SENTRY}' || false),
  VITE_SUPPORTED_LANGUAGES: ('${VITE_SUPPORTED_LANGUAGES}' || 'en|pt_br'),
  VITE_BOTHUB_WEBAPP_LIGHTHOUSE_KEY: ('${VITE_BOTHUB_WEBAPP_LIGHTHOUSE_KEY}' || ''),
  VITE_BOTHUB_WEBAPP_LIGHTHOUSE_ALGORITHM_ARTICLE_ID: ('${VITE_BOTHUB_WEBAPP_LIGHTHOUSE_ALGORITHM_ARTICLE_ID}' || ''),
  VITE_BOTHUB_WEBAPP_PAYMENT_ENABLED: ('${VITE_BOTHUB_WEBAPP_PAYMENT_ENABLED}'|| false),
  VITE_BOTHUB_WEBAPP_TUTORIAL_ENABLED: ('${VITE_BOTHUB_WEBAPP_TUTORIAL_ENABLED}' || false),
  VITE_MAILCHIMP_LOGIN: ('${VITE_MAILCHIMP_LOGIN}' || ''),
  VITE_BOTHUB_WEBAPP_SENTRY: ('${VITE_BOTHUB_WEBAPP_SENTRY}' || ''),
  VITE_MAILCHIMP_DATACENTER: ('${VITE_MAILCHIMP_DATACENTER}' || ''),
  VITE_MAILCHIMP_USER_ID: ('${VITE_MAILCHIMP_USER_ID}' || ''),
  VITE_MAILCHIMP_LIST_ID: ('${VITE_MAILCHIMP_LIST_ID}' || ''),
  VITE_RECAPTCHA_TOKEN: ('${VITE_RECAPTCHA_TOKEN}' || ''),
  VITE_HELPHERO_ID: ('${VITE_HELPHERO_ID}' || ''),
  VITE_HELPHERO_TOUR: ('${VITE_HELPHERO_TOUR}' || ''),
  VITE_QA_FLOW_CHANNEL: ('${VITE_QA_FLOW_CHANNEL}' || ''),
  VITE_LOGROCKET_ID: ('${VITE_LOGROCKET_ID}' || ''),
  VITE_LOGROCKET_PARENT_DOMAIN: ('${VITE_LOGROCKET_PARENT_DOMAIN}' || ''),
  VITE_OPTIONS_WENIGPT: ('${VITE_OPTIONS_WENIGPT}' || ''),
  SENTRY_ENVIRONMENT: ('${SENTRY_ENVIRONMENT}' || ''),
  NEXUS_API_BASE_URL: '${NEXUS_API_BASE_URL}',
  FLOWS_API_BASE_URL: '${FLOWS_API_BASE_URL}',
  INTELLIGENCE_LEGACY_URL: '${INTELLIGENCE_LEGACY_URL}',
  HOTJAR_ID: ('${HOTJAR_ID}' || ''),
  
  get(name){
    return this[name];
  }
}))();
