{
  "env": { 
    "jest": true,
    "jasmine": true
  },
  "globals": { 
  },
  "settings":{
    "import/resolver": {
      "alias": {
        "map": [
          ["@", "./src"] 
        ],
        "extensions": [".vue", ".json", ".js"]
      }
    }
  }
}
