{
  "env": { 
    "jest": true
  },
  "globals": {
    "runtimeVariables": true
  },
  "rules": {
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "import/no-cycle": "off",
    "arrow-parens": "off",
    "import/order": "off",
    "vue/no-unused-components": "off",
    "no-unused-vars": "off",
    "import/no-unresolved": "off",
    "space-before-blocks": "off",
    "object-curly-newline": "off",
    "no-plusplus": 0,
    "comma-dangle": "off",
    "linebreak-style": 0,
    "semi": "off",
    "camelcase": "off",
    "no-param-reassign": "off",
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "vue": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "optionalDependencies": ["test/unit/index.js"]
      }
    ]
  }
}